header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #2d024d;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: white;
    box-shadow: 2px 0 5px 3px rgb(0, 0, 0);
    justify-content: space-between;
    padding: 0 80px;
}
.hamburger-menu{
    width: 65px;
    cursor: pointer;
    display: none;
}
.logo-cont{
    margin: 0;
    width: 65px;
    height: 65px;
}
.logo{
    width: 65px;
}
.home-link{
    text-decoration: none;
    margin-left: 20px;
    animation: color-change 2s ease-in-out infinite;
}
@keyframes color-change {
    0% { color: #9565a7; }
    25% { color: #8a2be2; }
    50% { color: #bc7ff6; }
    75% { color: #9b5dca; }
    100% { color: #913fa1; }
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    padding: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}
ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.1s ease;
}
ul li a:hover{
    color: #956dc0;
}
.backdrop-menu{
    display: none;
    position: fixed;
    right: 0px;
    top: 100px;
    width: 400px;
    background-image: linear-gradient(to top, #2d024d80, #2d024d);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 10px;
    box-shadow: 0 5px 3px #000000a5;
}
.backdrop-menu ul{
    padding: 0;
}
.backdrop-menu li{
    list-style: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease;
}
.backdrop-menu li a:hover{
    color: #bf7ce3;
    font-size: 50px;
    transition: all 0.3s ease;
}
.backdrop-menu .submenu{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1200px){
    header{
        padding: 0 25px;
    }
    nav ul li{
        margin-left: 20px;
    }
}
@media (max-width: 1075px){
    .hamburger-menu, nav ul{
        display: inline-block;
        vertical-align: middle;
    }
    .hamburger-menu{
        margin-left: 20px;
        width: 50px;
    }
    .submenu{
        display: none;
    }
    .backdrop-menu.active{
        display: block;
    }
    .backdrop-menu .link{
        display: none;
    }
}
@media (max-width: 769px){
    nav ul{
        display: none;
    }
    .hamburger-menu{
        display: block;
        float: right;
    }
    .logo, .logo-cont{
        display: flex;
        width: 55px;
        height: 55px;
    }
    .home-link{
        font-size: 23px;
    }
    .backdrop-menu{
        width: 100%;
        border-radius: 0;
        top: 100px;
    }
    .backdrop-menu .link{
        display: flex;
    }
}
@media (max-width: 426px){
    header{
        height: 70px;
    }
    .logo, .logo-cont{
        width: 40px;
        height: 40px;
    }
    .home-link{
        font-size: 16px;
    }
    .hamburger-menu{
        width: 30px;
    }
    .backdrop-menu{
        top: 70px;
    }
}
@media (max-width: 376px){
    .home-link, .logo-cont{
        display: flex;
    }
}