body{
    background-image: url('../images/backgrounds/homebackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
main{
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}
.home-pic{
    display: inline-block;
    width: 700px;
    margin-left: -280px;
}
.texts{
    display: inline-block;
    right: 0;
}
.texts p, .texts a{
    margin-right: 100px;
    text-decoration: none;
}
.text1{
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    word-spacing: 15px;
    color: white;
    display: block;
}
.text2{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    font-family: 'Agbalumo',sans-serif;
    font-size: 50px;
    color: blueviolet;
    word-spacing: 15px;
    display: block;
    text-align: center;
}
.order-btn-cont{
    text-align: center;
    margin-top: 80px;
}
.order-btn{
    display: inline;
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 70px;
    color: white;
}
@media (max-width: 1025px) {
    .texts{
        text-align: center;
    }
    .order-btn{
        font-size: 50px;
    }
}
@media (max-width: 769px) {
    .home-pic{
        margin-left: -350px;
    }
}
@media (max-width: 492px) {
    .home-pic{
        display: none;
    }
    .texts p, .texts a{
        margin-right: 40px;
        margin-left: 40px;
    }
    .texts{
        text-align: center;
        margin-bottom: 40px;
    }
    .text1{
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .text2{
        font-size: 30px;
        margin: 20px 0 0 0;
    }
    .order-btn-cont{
        margin-top: 120px;
    }
    .order-btn{
        font-size: 40px;
    }
    hr{
        width: 180px;
        margin-bottom: 40px;
    }
}