html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fcffe7;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 2px 0 5px 3px #000;
    justify-content: left;
    padding: 0 20px;
    z-index: 999;
}
.logo-cont{
    margin: 0;
    width: 50px;
    height: 50px;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.home-link{
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    animation: color-changer 2s ease-in-out infinite;
}
@keyframes color-changer {
    0% { color: #e05c04; }
    25% { color: #dea057; }
    50% { color: #f4972d; }
    75% { color: #b46204; }
    100% { color: #8f612c; }
}
main{
    background: #fcffe7;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
}
.top-bg{
    width: 100%;
    height: 1000px;
    object-fit: cover;
    object-position: center;
}
.intro{
    text-align: center;
    position: absolute;
    color: #fff;
    background-color: #000000ca;
    width: 700px;
    height: 1244px;
    top: 378px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin-top: 280px;
    margin-bottom: 50px;
    font-size: 60px;
}
.txt-cont{
    width: 460px;
}
.intro-txt{
    font-size: 30px;
}
.join-btn{
    margin-top: 60px;
    width: 300px;
    height: 80px;
    font-size: 24px;
    border-radius: 0;
    border: 4px solid #fff;
    background-color: #00000000;
}
.join-btn:hover{
    background-color: #dea057;
}
.join-btn:active{
    background-color: #c37e30;
}
.forms{
    display: none;
    position: fixed;
    width: 350px;
    height: 500px;
    transition: 0.5s;
    justify-content: center;
    text-align: center;
    background: red url("../images/backgrounds/top-bg.png") no-repeat center / cover;
    overflow: hidden;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
label{
    color: #fff;
    font-size: 40px;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition:  .5s ease-in-out;
    text-shadow:
        -1px -1px 0 #0000006c,
        1px -1px 0 #0000006c,
        -1px 1px 0 #0000006c,
        1px 1px 0 #0000006c;
}
input{
    width: 60%;
    height: 20px;
    background: #effefe;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button, .button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background-color: #dea057;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .1s ease-in;
    cursor: pointer;
}
.signup-btn:hover, .button:hover{
    background-color: #eaaf6a;
    box-shadow: 1px 2px 3px #000;
}
.signup-btn:active, .button:active{
    background-color: #c37e30;
    box-shadow: none;
}
.login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #dea057;
    transform: scale(.6);
}
#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}
.close{
    position: fixed;
    width: 60px;
    height: 26px;
    border-radius: 0 10px 0 10px;
    top: -20px;
    right: -5px;
    z-index: 999;
    cursor: pointer;
    display: none;
    background-color: red;
    color: #fff;
    transition: all 0.1s ease-in-out;
}
.close:hover{
    color: #a5a5a5;
}
.forms.show, .close.show{
    display: block;
}
.mid-section{
    justify-content: space-between;
    vertical-align: top;
    display: flex;
    margin-top: 40px;
}
.text-section{
    font-size: 28px;
    margin: 0 50px;
}
.right-img{
    width: 600px;
    height: 800px;
    object-fit: cover;
    object-position: left;
    opacity: 0.9;
}
.dishes{
    width: 300px;
    position: absolute;
    right: 0;
}
.main-dishes-cont{
    position: absolute;
    top: 1040px;
    right: 0;
}
.main-dishes{
    z-index: 40;
    color: #fff;
    border: 4px solid #fff;
    width: 260px;
    padding: 10px 10px;
    text-align: center;
    position: absolute;
    right: 140px;
    background-color: #000000b7;
}
.dish-name{
    background-color: #C45911;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    width: 220px;
    right: 0;
    padding: 14px;
    z-index: 9;
}
.a{
    top: 146px;
}
.b{
    top: 316px;
}
.c{
    top: 480px;
}
.d{
    top: 650px;
}
.dish{
    position: absolute;
    width: 160px;
    right: 220px;
    z-index: 10;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
.sisig{
    top: 114px;
}
.bulalo{
    top: 280px;
}
.steak{
    top: 450px;
}
.bicol-express{
    top: 620px;
}
.bot-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-txt{
    margin-top: 40px;
    text-align: center;
}
.top-txt h1{
    margin-bottom: -6px;
    font-weight: 500;
    font-size: 36px;
}
.dish-container{
    background: url("../images/backgrounds/home-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    border-radius: 20px;
    width: 320px;
}
.dish-info{
    background-color: #000000a4;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    font-family: Calibri;
    width: 300px;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
}
.dish-pic{
    width: 200px;
    justify-self: center;
}
.name{
    font-size: 24px;
    font-weight: 700;
}
.desc-cont{
    width: 240px;
    height: 140px;
    justify-self: center;
}
.desc{
    font-size: 20px;
}
.carousel-cont{
    background: linear-gradient(to left top, #dea057, #C45911);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    margin-bottom: 60px;
    border-radius: 20px;
    padding: 0 10px;
    width: 80%;
}
.wrapper i{
    height: 50px;
    width: 50px;
    background-color: #983d00;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}
.wrapper i:first-child{
    left: 10px;
}
.wrapper i:last-child{
    right: 10px;
}
.wrapper{
    max-width: 1060px;
    width: 100%;
    padding: 40px;
    position: relative;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3)-12px);
    gap: 16px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.carousel.dragging .dish-container *{
    cursor: grab;
    user-select: none;
}
.carousel :where(.dish-container){
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel .dish-container{
    list-style: none;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.container#blur.active, .bot-section.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.forms.active{
    transition: 0.5s;
}
@media(max-width: 1213px){
    .main-dishes{
        right: 44px;
    }
    .right-img{
        width: 400px;
    }
    .text-section{
        font-size: 24px;
    }
}
@media(max-width: 1024px){
    .text-section{
        font-size: 20px;
    }
    .main-dishes{
        font-size: 22px;
        top: 20px;
        right: 30px;
    }
    .dish-name{
        font-size: 18px;
        width: 160px;
    }
    .dish{
        width: 130px;
        right: 170px;
    }
    .right-img{
        width: 360px;
    }
    .a{
        top: 136px;
    }
    .b{
        top: 306px;
    }
    .c{
        top: 475px;
    }
    .d{
        top: 644px;
    }
}
@media(max-width: 820px){
    .intro{
        width: 70%;
    }
    .title{
        font-size: 48px;
    }
    .txt-cont{
        width: 60%;
    }
    .txt-cont p{
        font-size: 24px;
    }
    .mid-section{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .right-img{
        width: 100%;
        justify-self: center;
    }
    .main-dishes-cont{
        top: 20px;
        position: relative;
        width: 100%;
    }
    .main-dishes{
        font-size: 22px;
        top: 20px;
        right: 30%;
        margin: auto;
    }
    .dish-name{
        font-size: 20px;
        width: 220px;
    }
    .a{
        top: 146px;
    }
    .b{
        top: 316px;
        left: 0;
    }
    .c{
        top: 480px;
    }
    .d{
        top: 650px;
        left: 0;
    }
    .dish{
        width: 160px;
        right: 220px;
    }
    .sisig{
        top: 114px;
    }
    .bulalo{
        top: 280px;
        left: 220px;
    }
    .steak{
        top: 450px;
    }
    .bicol-express{
        top: 620px;
        left: 220px;
    }
}
@media(max-width: 610px){
    .main-dishes{
        right: 20%;
    }
}
@media(max-width: 590px){
    .title{
        font-size: 44px;
        margin-bottom: 20px;
    }
    .txt-cont p{
        font-size: 22px;
    }
    .join-btn{
        margin-top: 20px;
        font-size: 20px;
        width: 260px;
        height: 60px;
    }
}
@media(max-width: 500px){
    .intro{
        width: 100%;
    }
    .txt-cont{
        width: 70%;
    }
    .txt-cont p{
        font-size: 26px;
    }
    .title{
        margin-bottom: 40px;
        font-size: 50px;
    }
    .join-btn{
        margin-top: 50px;
        font-size: 28px;
    }
    .main-dishes{
        right: 16%;
    }
    .top-txt h1{
        font-size: 30px;
    }
    .top-txt hr{
        width: 230px;
    }
    .wrapper{
        padding: 0 40px;
        width: 90%;
    }
    .dish-container{
        width: 200px;
    }
    .dish-info{
        width: 180px;
        height: 280px;
    }
    .dish-pic{
        width: 120px;
        margin-top: 10px;
    }
    .name{
        font-size: 20px;
        margin: 0;
    }
    .desc-cont{
        height: 80px;
        margin: 0 10px;
    }
    .desc{
        margin: 0 40px;
        font-size: 16px;
    }
    .carousel-cont{
        height: 400px;
    }
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2)-12px);
    }
}
@media(max-width: 426px){
    .forms{
        width: 300px;
        height: 450px;
    }
}
@media(max-width: 400px){
    .title{
        font-size: 44px;
        margin-bottom: 10px;
    }
    .txt-cont p{
        font-size: 25px;
    }
    .join-btn{
        margin-top: 40px;
        font-size: 20px;
        width: 200px;
        height: 60px;
    }
    .main-dishes{
        right: 12%;
        font-size: 20px;
    }
    .dish-name{
        font-size: 18px;
        width: 160px;
    }
    .dish{
        width: 130px;
        right: 170px;
    }
    .a{
        top: 136px;
    }
    .b{
        top: 306px;
    }
    .c{
        top: 475px;
    }
    .d{
        top: 644px;
    }
    .sisig{
        top: 114px;
    }
    .bulalo{
        top: 280px;
        left: 170px;
    }
    .steak{
        top: 450px;
    }
    .bicol-express{
        top: 620px;
        left: 170px;
    }
}
@media(max-width: 360px){
    .main-dishes{
        right: 5%;
    }
}