body{
    background-image: url("../images/backgrounds/menubackground.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.subheader{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}
.selector-cont{
    display: flex;
    flex: 2;
}
#selector{
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    width: 128px;
    height: 40px;
    outline: none;
}
#selector, .search-cont, .search-bar, .search-cont button{
    display: inline-block;
    vertical-align: top;
}
.search-cont{
    margin-bottom: 30px;
    margin-left: 40px;
    display: flex;
    flex: 1;
}
.search-bar{
    width: 140px;
    flex: 1;
    height: 36px;
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    outline: none;
}
.search-btn{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    cursor: pointer;
}
.search-logo{
    width: 20px;
    margin-top: 4px;
}
.dish-menu{
    margin: 0 40px 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
}
.dish-info{
    width: 260px;
    height: 416px;
    background-image: linear-gradient(to bottom right, #7a66cbea, #574898ea);
    padding: 20px;
    border-radius: 10px;
    vertical-align: top;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 3px 5px 1px black;
    color: rgb(44, 7, 78);
    border: rgba(155, 154, 154, 0.388) solid 2px;
    justify-self: center;
    justify-content: center;
    text-align: center;
}
.dish{
    width: 260px;
    border-radius: 5px;
}
.dish-name{
    margin: 12px 0 10px 0;
    font-weight: 700;
    font-size: 20px;
}
.price{
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}
.info, .price-cont{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.info{
    width: 133px;
    margin-right: 10px;
}
.info p{
    margin: 0;
}
.btn-cont{
    margin-top: 20px;
}
.order-btn{
    text-decoration: none;
    cursor: pointer;
    color: #2e0353;
    font-size: 20px;
}
.per-order{
    margin: 0;
}
@media (max-width: 1070px){
    .dish-menu{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 810px){
    .dish-menu{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 590px){
    .dish-menu{
        grid-template-columns: 1fr;
    }
    .subheader{
        margin: 0 0 0 18px;
    }
    .search-cont{
        margin: 0 18px 30px 0;
    }
}
@media(max-width: 375px){
    .search-bar{
        width: 80px;
    }
}