header p, header nav ul li{
    margin-top: 16px;
    vertical-align: bottom;
}
footer hr{
    opacity: 1;
    height: 5px;
}
.top-text{
    margin-top: 24px;
    color: black;
}
body{
    background-color: white;
}
main{
    padding: 0 100px 0 100px;
    display: flex;
}
.review-section{
    background-color: #fcffe7;
    width: 1800px;
    height: 1800px;
    box-shadow: 0 0 4px #00000057;
}
.user-profile{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}