header p, header nav ul li{
    margin-top: 16px;
    vertical-align: bottom;
}
footer hr{
    opacity: 1;
    height: 5px;
}
.top-text{
    margin-top: 24px;
    color: black;
}
body{
    background-color: white;
}
main{
    display: grid;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    background-color: #fcffe7;
    width: 1000px;
    box-shadow: 0 0 4px #00000057;
    justify-self: center;
}
.user-review{
    width: 940px;
    margin-top: 20px;
    background-color: white;
    border: 2px solid #dea057;
    border-radius: 30px;
    box-shadow: 0px 3px 3px #0000005a;
    justify-self: center;
}
.myreview{
    display: flex;
}
.user-profile{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}
.user-profile-cont, .user-profile{
    margin: 10px 0 5px 20px;
}
.user-profile-cont, .user-profile, .user, .rate{
    display: inline-block;
    vertical-align: middle;
}
.username{
    margin: 20px 0 0 10px;
    font-weight: 500;
}
.order{
    margin: 2px 0 10px 10px;
}
.rate{
    margin-top: 20px;
    margin-right: 60px;
    flex: 3;
    text-align: right;
}
.rate div{
    display: inline-block;
}
.seller-service{
    margin-left: 20px;
}
.rate p{
    margin-bottom: 0;
    text-align: center;
}
.rating-dq, .rating-ss{
    font-size: 18px;
    color: gold;
    cursor: pointer;
    display: flex;
}
.rating-dq .star:hover, .rating-ss .star:hover{
    transform: scale(1.3);
}
.rating-dq .star.active, .rating-ss .star.active{
    opacity: 0;
    animation: animate .5s ease-in-out forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.textarea-cont{
    margin-bottom: 8px;
    text-align: center;
    padding: 0;
}
textarea{
    resize: none;
    width: 90%;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    outline: 2px solid #dea057;
    background-color: #fcffe7;
}
.button-cont{
    display: flex;
    margin-bottom: 20px;
}
.buttons{
    flex: 1;
    text-align: right;
    margin-right: 60px;
}
.button-cont button{
    margin-left: 10px;
}
.cancel-btn{
    border: none;
    border-radius: 20px;
    background-color: white;
    text-decoration: underline;
    transition: all 0,1s ease-in-out;
}
.cancel-btn:hover{
    color: red;
}
.submit-btn{
    border: 2px solid #c07015;
    border-radius: 10px;
    background-color: #dea057;
    box-shadow: 0 3px 3px gray;
    transition: all 0.1s ease-in-out;
}
.submit-btn:hover{
    color: #ff8800;
    box-shadow: 0 2px 2px #00000047;
}
.submit-btn:active{
    background-color: #fcffe7;
    color: #dea057;
    box-shadow: none;
}
.users-review{
    display: grid;
    justify-items: center;
    margin-bottom: 20px;
    row-gap: 10px;
}
.customer-review{
    width: 860px;
    background-color: white;
    border: 2px solid #dea057;
    border-radius: 10px;
    box-shadow: 0 4px 3px 1px #0000003a;
}
.users-rate{
    color: gold;
}
.c-review{
    display: flex;
}
.customer-profile, .customer-profile-cont{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    margin: 10px 0 5px 10px;
}
.customer-profile{
    margin: 10px 0 0 0;
}
.customer-profile-cont, .user-profile, .customer, .rate{
    display: inline-block;
    vertical-align: middle;
}
.customer-name{
    font-weight: 500;
    margin: 20px 0 0 10px;
}
.customer-order{
    margin: 2px 0 10px 10px;
}
.review-txt-cont{
    margin-left: 16px;
    border: 1px solid #c07015;
    margin-bottom: 20px;
    border-radius: 10px;
}
.review{
    margin: 10px 0;
}
.logout-btn{
    font-size: 13px;
}
@media(max-width: 1024px){
    .main-container{
        width: 100%;
    }
}
@media(max-width: 970px){
    .user-review{
        width: 740px;
    }
    textarea{
        width: 700px;
    }
    .customer-review{
        width: 660px;
    }
}
@media(max-width: 768px){
    .user-review{
        width: 640px;
    }
    textarea{
        width: 94%;
    }
    .customer-review{
        width: 560px;
    }
    .customer-review .rate{
        margin-right: 0;
    }
}
@media(max-width: 662px){
    .user-review{
        width: 540px;
    }
    .customer-review{
        width: 460px;
    }
    .dish-quality p, .seller-service p{
        font-size: 14px;
    }
    .rate{
        margin-right: 40px;
    }
    .customer-review .rate{
        margin-right: -16px;
    }
}
@media(max-width: 562px){
    .customer-review{
        width: 96%;
        border-radius: 0
    }
    .user-review{
        width: 94%;
    }
    .user-profile{
        margin: 8px 0 0 0;
    }
    .user-profile-cont{
        margin-left: 14px;
    }
    .rate{
        margin-right: 14px;
    }
}
@media(max-width: 491px){
    .rate{
        position: absolute;
        margin-left: 82px;
        margin-top: 80px;
    }
    .customer-review .rate{
        position: absolute;
        margin-left: 62px;
        margin-top: 78px;
    }
    .c-review{
        margin-bottom: 60px;
    }
    .textarea-cont{
        text-align: right;
    }
    .myreview{
        margin-bottom: 60px;
    }
}
@media(max-width: 426px){
    .rate{
        position: absolute;
        margin-left: 60px;
        margin-top: 80px;
    }
    .customer-review .rate{
        position: absolute;
        margin-left: 62px;
        margin-top: 78px;
    }
    .c-review{
        margin-bottom: 60px;
    }
    .textarea-cont{
        text-align: right;
    }
    .myreview{
        margin-bottom: 60px;
    }
}
@media(max-width: 353px){
    .rate{
        margin-left: 30px;
    }
}