*{
    font-family: sans-serif;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: tomato;
    height: 56px;
}
main{
    margin-top: 55px;
    background: url(../images/backgrounds/aboutbackground.jpg) no-repeat fixed center;
    background-size: cover;
}